* {
	margin: 0;
	padding: 0;
}
body {
	background: url('Img/Fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Buda';
}
:root {
 	
	--main-backgroundbotones: #202020;
	--main-background-color: linear-gradient(to bottom, #151515, #252525);
	--main-backgroundprincipal: #202020;
	--main-borderbotones: 1px solid #202020;
	--main-color : #909090;
	--main-backgroundactive: #151515;
	--main-coloractive: #ff0000;
	--main-backgroundslider: #303030;
	--main-backgroundfader: #606060	;
	--main-backgroundAjustesCompas: rgba(10, 10, 10, 0.9);
	--main-backgroundhs: #151515;
}
 /*	
	--main-backgroundbotones: #300000;
	--main-background-color: linear-gradient(to bottom, #250000, #350000);
	--main-backgroundprincipal: #200000;
	--main-borderbotones: 1px solid #300000;
	--main-color : #909090;
	--main-backgroundactive: #200000;
	--main-coloractive: #ff0000;
	--main-backgroundslider: #400000;
	--main-backgroundfader: #800000	;
	--main-backgroundAjustesCompas: rgba(30, 0, 0, 0.8);
	--main-backgroundhs: #150000;
	}
*/
.contenedorMetronomo {
	top: 120px;
	position: relative;
	margin: auto;
	width: 700px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background: var(--main-backgroundprincipal);
	border: var(--main-borderbotones);
	border-style: outset;
	border-radius: 15px;
}
.contenedorLogo {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
} 
.h1a, .h1b {
	color: var(--main-backgroundslider);
	font-size: 15px;
	text-align: right;
}
.h1b {
	font-size: 40px;
	
}
.contenedorAjustes {
	position: absolute;
	top: 30px;
	right: 30px;
}

.textConfiguracion{
	width: 90%;
	margin: auto;
	text-align: center;
	color: var(--main-color);
}
.tituloconfig {
	width: 100%;
	text-align: center;
	background: var(--main-backgroundhs);
	border-bottom: var(--main-borderbotones);
	color: var(--main-color);
	margin-bottom: 5px;
	font-size: 20px;
}
#ajustesLogo {
	transition: 1s;
}
.contenedorCambiosTema {
	display: flex;
	justify-content: center;
	align-items: center;
}
.switchButton, .switchButtonRed, .switchButton2{
	border: none;
	outline: none;
	background: none;
	padding: 10px 20px;
}
.switchButton {
	transform: rotate(180deg);
	filter: grayscale(100%);	
}
.switchButtonRed{
	transform: rotate(0deg);
	filter: grayscale(0);
}
.switchButton2 {
	transform: rotate(180deg);	
}
.switch {
	width: 32px;
	height: 32px;
	background: var(--main-backgroundAjustesCompas);
}
.beatsUsuario {
	border: none;
	outline: none;
	text-align: center;
	background: var(--main-backgroundbotones);
	font-weight: bold;
	color: var(--main-color);
	font-size: 25px;
}

.contenedorElegirCompas, .contenedorConfiguracion {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--main-backgroundAjustesCompas);
	visibility: hidden; 
	height: 100%;
	z-index: 2;
	border: var(--main-borderbotones);
	transition: 1s;
	overflow: auto;
}
.contenedorElegirCompas {
	width: 0;
	top: 0;
	left: 0;
	border-radius: 15px 0px 0px 15px;
}
.contenedorConfiguracion {
	top: 0;
	right: 0;
	width: 0; 
	border-radius: 0px 15px 15px 0px;
	}

.contenedorElegirCompas  li {
	color: var(--main-color);
	list-style: none;
	padding: 10px 90px ;
	cursor: pointer;
}

.contenedorElegirCompas::-webkit-scrollbar, .contenedorConfiguracion::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorElegirCompas::-webkit-scrollbar:vertical, .contenedorConfiguracion::-webkit-scrollbar:vertical {
    width: 5px;
}

.contenedorElegirCompas::-webkit-scrollbar-button:increment,.contenedorElegirCompas::-webkit-scrollbar-button,
.contenedorConfiguracion::-webkit-scrollbar-button:increment, .contenedorConfiguracion::-webkit-scrollbar-button {
    display: none;
} 

.contenedorElegirCompas::-webkit-scrollbar:horizontal,
.contenedorConfiguracion::-webkit-scrollbar:horizontal{
    height: 10px;
}

.contenedorElegirCompas::-webkit-scrollbar-thumb,
.contenedorConfiguracion::-webkit-scrollbar-thumb {
    background-color: var(--main-backgroundactive);
    border-radius: 20px;
}

.contenedorElegirCompas::-webkit-scrollbar-track {
}
/***+++++++++++++++++++++++++++++*/
.cerrarCompas {
	color: var(--main-color);
	position: relative;
	padding: 20px 0px 20px 0px;
	cursor: pointer;
}

.contenedorTempo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 0px 0px;
	width: 50%;
}
.contenedorNotas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
}
.contenedorCompasDivision {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	padding: 0px 0px 15px 0px;
}
.botonTabs, .contenedorRango, .contenedorSelectRango{
	background: var(--main-background-color);
	border-radius: 15px;
	margin: 2px;
	padding: 4px;
 }
.contenedorRango {
	margin-bottom: 15px; 
	margin-top: 15px;
}
.contenedorSelectRango {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 15px; 
	margin-top: 15px;
}
.tabs, .playStop{
	width: 50px;
	height: 50px;
	font-size: 20px;
	padding: 10px;
	border: var(--main-borderbotones);
	border-style: outset;
	margin: 4px;
	background: var(--main-backgroundbotones);
	color: var(--main-color);
	border-radius: 8px;
	outline: none;
	box-shadow: 1px 2px 2px #101010;
	
}
.parrafos {
	color: var(--main-color);	
}
@media (max-width:600px){
	.botonTabs {
	    margin-right: 12px;	
	    margin-left: 12px;	
	}
}
.bpm {
	color: var(--main-color);
}
.playStop:hover, .tabs:hover, .compas:hover{
	transform: scale(0.95);
}

.tabs4 {
	background: none;
	color: var(--main-color);
	outline: none;
	border: none;
	font-size: 40px;
	width: 20%;
	text-align: center;
}
.compas, .adelante, .atras {
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	background: var(--main-backgroundbotones);
    color: var(--main-color);
	border: none;
	outline: none;
}
.compas {
	border-radius: 8px;
	box-shadow: 1px 2px 2px #101010;
	padding: 12px;
}
.adelante {
	border-radius: 0px 12px 12px 0px;
	border-left: 1px solid #000;
	font-size: 16px;
}
.atras {
	border-radius: 12px 0px 0px 12px ;
	border-right: 1px solid #000;
	font-size: 16px;
}
.adelante:hover, .atras:hover{
	box-shadow: 0px 0px 1px #ff0000;
	color: #ff0000;
}

.active {
	transform: scale(0.95);
	background: var(--main-backgroundactive);
	font-weight: bold;
	border: 2px solid #252525;
	border-style: inset;
	color: var(--main-coloractive);
	box-shadow: none;
}
.slider {
	-webkit-appearance: none;
	height: 5px;
	background: var(--main-backgroundslider);
	border-radius: 15px;
	outline: none;
}
.slider::-webkit-slider-thumb  {/**/
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: var(--main-backgroundfader);
	border-radius: 50%;
}	
.slider::-moz-range-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: var(--main-backgroundfader);
	border-radius: 50%;
	
}

.contenedorCircle {
	padding: 15px;
	width: 65%;
	display: flex;
	justify-content: space-around;
}
.circle {
	padding: 15px;
	border-radius: 50%;
	background: var(--main-background-color);
	transition: 0.5s;
}
.activeCircle {
	background: #ff0000;
}
@media (max-width:700px){
	body {
		background: none;
	}
	.contenedorMetronomo {
		width: 100%;
		height: 100vh;
		border-radius: 0;
	    top: 0;
		overflow: auto;
	}
	.tabs4 {
		width: 40%;
	}
	.contenedorCompasDivision {
		width: 80%;
	}
	.h1a {
		font-size: 12px;
	}
	.contenedorCircle {
		width: 90%;
	}
   
}