* {
	margin: 0;
	padding: 0;
}
body {
	background: url('Img/Fondo.jpg');
	background: #505050;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Buda';
}
:root {
 	
	--main-backgroundbotones: #202020;
	--main-background-color: linear-gradient(to bottom, #151515, #252525);
	--main-backgroundprincipal: #202020;
	--main-borderbotones: 1px solid #202020;
	--main-color : #909090;
	--main-backgroundactive: #151515;
	--main-coloractive: #ff0000;
	--main-backgroundslider: #303030;
	--main-backgroundfader: #606060	;
	--main-backgroundAjustesCompas: rgba(10, 10, 10, 0.9);
	--main-backgroundhs: #151515;
	--main-box-shadow: 0px 0px 15px #000;
}
 /*	
	--main-backgroundbotones: #300000;
	--main-background-color: linear-gradient(to bottom, #250000, #350000);
	--main-backgroundprincipal: #200000;
	--main-borderbotones: 1px solid #300000;
	--main-color : #909090;
	--main-backgroundactive: #200000;
	--main-coloractive: #ff0000;
	--main-backgroundslider: #400000;
	--main-backgroundfader: #800000	;
	--main-backgroundAjustesCompas: rgba(30, 0, 0, 0.8);
	--main-backgroundhs: #150000;
	}
*/
.contenedorMetronomo {
	top: 120px;
	position: relative;
	margin: auto;
	width: 700px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background: var(--main-backgroundprincipal);
	border: var(--main-borderbotones);
	border-style: outset;
	border-radius: 15px;
}
.contenderorCompasesIlus {
	width: 80%;
	background: var(--main-backgroundbotones);
	border-radius: 12px;
	position: relative;
	
	
}
#Negras {
	border-radius: 0px 0px 12px 12px;
}
.verCompas {
	position: absolute;	
}
.contenedorLogo {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
} 
.h1a, .h1b {
	color: var(--main-backgroundslider);
	font-size: 15px;
	text-align: right;
}
.h1b {
	font-size: 40px;
	
}
.contenedorAjustes {
	position: absolute;
	top: 30px;
	right: 30px;
}

.textConfiguracion{
	width: 90%;
	margin: auto;
	text-align: center;
	color: var(--main-color);
}
.tituloconfig {
	width: 100%;
	text-align: center;
	background: var(--main-background-color);
	border-bottom: var(--main-borderbotones);
	color: var(--main-color);
	margin-bottom: 5px;
	font-size: 20px;
}
#ajustesLogo {
	transition: 1s;
}
.contenedorCambiosTema {
	display: flex;
	justify-content: center;
	align-items: center;
}
.switchButton, .switchButtonRed, .switchButton2{
	border: none;
	outline: none;
	background: none;
	padding: 10px 20px;
}
.switchButton {
	transform: rotate(180deg);
	filter: grayscale(100%);	
}
.switchButtonRed{
	transform: rotate(0deg);
	filter: grayscale(0);
}
.switchButton2 {
	transform: rotate(180deg);	
}
.switch {
	width: 32px;
	height: 32px;
}
.beatsUsuario {
	border: none;
	outline: none;
	text-align: center;
	background: var(--main-backgroundbotones);
	font-weight: bold;
	color: var(--main-color);
	font-size: 25px;
}
.contenedorfiguras {
	background: var(--main-backgroundbotones);
	width: 80%;
}
.contenedorElegirCompas, .contenedorConfiguracion {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--main-backgroundprincipal);
	visibility: hidden; 
	height: 100%;
	z-index: 2;
	border: var(--main-borderbotones);
	box-shadow: var(--main-box-shadow);
	transition: 1s;
	overflow: auto;
}
.contenedorElegirCompas {
	width: 0;
	top: 0;
	left: 0;
	border-radius: 15px 0px 0px 15px;
}
.contenedorConfiguracion {
	top: 0;
	right: 0;
	width: 0; 
	border-radius: 0px 15px 15px 0px;
	}

.contenedorElegirCompas  li {
	color: var(--main-color);
	list-style: none;
	padding: 10px 90px ;
	cursor: pointer;
}

.contenedorElegirCompas::-webkit-scrollbar, .contenedorConfiguracion::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorElegirCompas::-webkit-scrollbar:vertical, .contenedorConfiguracion::-webkit-scrollbar:vertical {
    width: 5px;
}

.contenedorElegirCompas::-webkit-scrollbar-button:increment,.contenedorElegirCompas::-webkit-scrollbar-button,
.contenedorConfiguracion::-webkit-scrollbar-button:increment, .contenedorConfiguracion::-webkit-scrollbar-button {
    display: none;
} 

.contenedorElegirCompas::-webkit-scrollbar:horizontal,
.contenedorConfiguracion::-webkit-scrollbar:horizontal{
    height: 10px;
}

.contenedorElegirCompas::-webkit-scrollbar-thumb,
.contenedorConfiguracion::-webkit-scrollbar-thumb {
    background-color: var(--main-backgroundactive);
    border-radius: 20px;
}

.contenedorElegirCompas::-webkit-scrollbar-track {
}
/***+++++++++++++++++++++++++++++*/
.cerrarCompas, .cerrarCompas2, .cerrarCompas3 {
	background: var(--main-backgroundprincipal);
	color: var(--main-color);
	position: relative;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
	border: var(--main-borderbotones);
}
.cerrarCompas2 {
	font-size: 12px;	
}
.cerrarCompas3 {
	font-size: 20px;
}
.cerrarCompas:hover, .cerrarCompas2:hover, .cerrarCompas3:hover{
	transform: scale(0.95);
}
.contenedorTempo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 0px 0px;
	width: 50%;
}
.contenedorNotas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
}
.contenedorCompasDivision {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	padding: 0px 0px 15px 0px;
}
.botonTabs, .botonTabs2, .botonTabs3, .contenedorRango, .contenedorSelectRango{
	background: var(--main-background-color);
	border-radius: 15px;
	margin: 2px;
	padding: 4px;
 }
 .botonTabs3 {
    position: absolute;
	top: -20;
	border-radius: 15px;
	margin: 2px;
 }
.botonTabs2 {
	position: absolute;
	top: -25;
}
.contenedorRango {
	margin-bottom: 15px; 
	margin-top: 15px;
}
.contenedorSelectRango {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 15px; 
	margin-top: 15px;
}
.tabs, .playStop{
	width: 50px;
	height: 50px;
	font-size: 20px;
	padding: 10px;
	border: var(--main-borderbotones);
	border-style: outset;
	margin: 4px;
	background: var(--main-backgroundbotones);
	color: var(--main-color);
	border-radius: 8px;
	outline: none;
	box-shadow: 1px 2px 2px #101010;
	
}
.tabs {
	filter: grayscale(100%);
	position: relative;
	color: #454545;
}
.tabsImg, .tabsImg2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	background: var(--main-backgroundbotones);
	color: var(--main-color);
	border-radius: 8px;
}	
.tabsImg2 {
	display: none;
}
.texttresillos {
	position: absolute;
	top: 0;
	left: 48%;
	color: #505050;
	font-size: 9px;
}
.parrafos {
	color: var(--main-color);	
}
@media (max-width:600px){
	.botonTabs {
	    margin-right: 12px;	
	    margin-left: 12px;	
	}
}
.bpm {
	color: var(--main-color);
}
.playStop:hover, .tabs:hover, .compas:hover{
	transform: scale(0.95);
}

.tabs4 {
	background: none;
	color: var(--main-color);
	outline: none;
	border: none;
	font-size: 40px;
	width: 20%;
	text-align: center;
}
.compas, .adelante, .atras {
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	background: var(--main-backgroundbotones);
    color: var(--main-color);
	border: none;
	outline: none;
}
.compas {
	border-radius: 8px;
	box-shadow: 1px 2px 2px #101010;
	padding: 12px;
}
.adelante {
	border-radius: 0px 12px 12px 0px;
	border-left: 1px solid #000;
	font-size: 16px;
}
.atras {
	border-radius: 12px 0px 0px 12px ;
	border-right: 1px solid #000;
	font-size: 16px;
}
.adelante:hover, .atras:hover{
	box-shadow: 0px 0px 1px #ff0000;
	color: #ff0000;
}

.active {
	transform: scale(0.95);
	font-weight: bold;
	border: 2px solid #252525;
	border-style: inset;
	color: #505050;
	box-shadow: none;
}
.slider {
	-webkit-appearance: none;
	height: 5px;
	background: var(--main-backgroundslider);
	border-radius: 15px;
	outline: none;
}
.slider::-webkit-slider-thumb  {/**/
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: var(--main-backgroundfader);
	border-radius: 50%;
}	
.slider::-moz-range-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: var(--main-backgroundfader);
	border-radius: 50%;
	
}

.contenedorCircle {
	padding: 15px;
	width: 65%;
	display: flex;
	justify-content: space-around;
}
.circle {
	padding: 15px;
	border-radius: 50%;
	background: var(--main-background-color);
	transition: 0.5s;
}
.activeCircle {
	background: #ff0000;
}
@media (max-width:700px){
	body {
		background: none;
	}
	.contenedorMetronomo {
		width: 100%;
		height: 100vh;
		border-radius: 0;
	    top: 0;
		overflow: auto;
	}
	.tabs4 {
		width: 40%;
	}
	.contenedorCompasDivision {
		width: 80%;
	}
	.h1a {
		font-size: 12px;
	}
	.contenedorCircle {
		width: 90%;
	}
   
}
.ocultar{
	display: none;
}	
/*seccion faders y medidores*/
.contenedorfaders {
	position: absolute;
	bottom: 0;
	background: var(--main-backgroundprincipal);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-shadow: var(--main-box-shadow);
	border-radius: 12px 12px 0px 0px;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}
.contfaders {
	position: reñative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	background: var(--main-background-color);
	height: 100%;	
	margin: 3px;
	padding: 5px;
	border-radius: 12px;
}
.contfaderstado {
	display: flex;
	justify-content: center;
}

.faders, .faders2{
	-webkit-appearance: none;
	transform: rotate(-90deg);
	height: 5px;
	width: 150px;
	margin: 78 0 0 -60;
	background: #101010;
	border-radius: 8px;
	border: none;
	outline: none;
}
.faders2 {
	margin: 78 0 0 0;	
}
.faders::-webkit-slider-thumb, .faders2::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	height: 15px;
	background: linear-gradient(to left, #101010, #252525, #101010, #252525, #101010);
}	
.estado {
	position: relative;
	width: 6px;
	height: 150px;
	margin: 5 10 0 -60;
	background: var(--main-backgroundprincipal);
	border-radius: 8px;
}
#indicador1, #indicador2, #indicador3{
	position: absolute;
	bottom: 0;
	width: 6px;
	height: 0%;
	background: linear-gradient(to top, #00ff00, #00ff00, #ffff00, #ffff00, #ff0000);
	border-radius: 8px;
}
.valoresfaders {
	color: #404040;
	text-align: center;
}
/*selecionar tipo de onda*/
.conttipoOnda {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#conttipoOnda1, #conttipoOnda2, #conttipoOnda3 {
	position: relative;
}
.contFrecuencia, .contFrecuencia2, .contFrecuencia3 {
	position: absolute;
	left: -35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	background: var(--main-backgroundprincipal);
	box-shadow: var(--main-box-shadow);
	height: 200px;
	width: 35px;
	box-shadow: var(--main-box-shadow);
	border-radius: 12px;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
	
}
.wavebutton {
	border: none;
	outline: none;
	background: var(--main-background-color);
	padding: 2px;
	border-radius: 5px;
	margin-bottom: 3px;
}
.imgwave, .imgwave2, .imgwave3, .imgwavefreq {
	width: 16px;
	height: 16px;
	background: var(--main-background);
	border: var(--main-borderbotones);
	border-style: outset;
	border-radius: 5px;
	filter: grayscale(100%);
}

.imgwave:hover, .imgwave2:hover, .imgwave3:hover, .imgwavefreq:hover{
	transform: scale(0.95);
}
.imgwavefreq {
	filter: grayscale(100%) ;
	border-radius: 50%;
}
.imgwavefreq:hover {
	filter: grayscale(0%);
}
.activeimgwave, .activeimgwave2, .activeimgwave3{
	transform: scale(0.8);
	border-style: inset;
	filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
	box-shadow: none;
}
.activeimgwave{
	transform: scale(0.8);
	border-style: inset;
	filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
	box-shadow: none;
}
.imgMixer {
	width: 20px;
	height: 20px;
}